<div ng-controller="BooksController">
    <div class="jumbotron">
        <form class="form-inline">
            Add new book: <input type="text" class="form-control input-large" ng-model="newBookTitle" placeholder="Title" />
            <button class="btn btn-primary" ng-disabled="badTitle()" type="submit" ng-click="addBook()">
                <span class="glyphicon glyphicon-plus"></span>
                Add Book
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <ng-include src="'/partials/booktable.html'"></ng-include>
        </div>
        <div class="col-xs-6">
            <ng-include src="'/partials/chapters.html'"></ng-include>
        </div>
    </div>
</div>


