<div ng-controller="BooksController">
    <div class="jumbotron">
        Add new book: <input type="text" class="form-control" ng-model="newBookTitle" placeholder="Title" />
        <br/>
        <button class="btn btn-primary" ng-disabled="badTitle()" type="button" ng-click="addBook()">Add</button>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <ng-include src="'/partials/booktable.html'"></ng-include>
        </div>

        <div class="col-xs-6">
            <ng-include src="'/partials/chapters.html'"></ng-include>
        </div>
    </div>
</div>


