<table class="booktable table">
    <tr ng-repeat="book in books" ng-class="{'activeBook': book.active}">
        <td class="span1 vert-align"><img src="images/book.ico" height="64"></td>
        <td class="span2 vert-align"><strong>{{ book.title }}</strong></td>
        <td class="span1">
            <button class="btn btn-primary" type="button" ng-click="deleteBook($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
        <td class="span2">
            <button class="btn btn-primary" type="button" ng-click="loadBook(book)">
                Chapters
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </td>
    </tr>
</table>
<div ng-show="!books.length" class="sad">(No books yet.)</div>