<div ng-controller="BookController" ng-show="current" class="chapters">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Chapters for <strong>{{current.title}}</strong>
            <button class="btn btn-primary add-button" type="button" ng-click="addChapter()">
                <span class="glyphicon glyphicon-plus"></span>
                Add Chapter</button>
          </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr ng-repeat="chapter in chapters">
                    <td><strong>Chapter {{ $index + 1}}</strong></td>
                    <td>
                        <button class="btn btn-primary" type="button" ng-click="deleteChapter($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td class="remove-padding">
                        <ng-include src="'/partials/chapter.html'"></ng-include>
                    </td>
                </tr>
            </table>
            <div class="sad" ng-hide="chapters.length">(No chapters yet.)</div>
        </div>
    </div>
</div>
