<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Book Management Tool</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
</head>


<body ng-app="app">
    <header>
        <img src="citi-logo.png" class="logo"/>
    </header>
    <div class="container">
        <div ng-controller="LoginController">
            <h1 class="titleHeader">Book Management Tool</h1>
            <div class="login" ng-show="myUser">You are logged in as: {{ myUser }} | <a href="#" ng-click="logout()">Sign out</a></div>

            <div ng-hide="myUser">
                <form class="form-signin" role="form">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus>
                    <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="attemptLogin()">Sign in</button>
                </form>
            </div>

            <div ng-if="myUser">
                <ng-include src="'/partials/books.html'"></ng-include>
            </div>
        </div>
    </div>

    <footer>jwbuitenhuis@gmail.com, July 15th 2014</footer>

    <script src="lib/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="lib/angular.js"></script>
    <script src="src/app.js"></script>

</body>
</html>