.login {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background: black;
    padding: 4px 16px;
}    

.login a {
    color: white;
}

.form-signin {
    width: 300px;
}

.error {
    border: 4px solid red;
}

.booktable td, th {
    vertical-align: middle !important;
}

.activeBook {
    background: #d9edf7;
}

.panel-title {
    height: 33px;
}
.add-button {
    margin: 0;
    float: right;
}

.amount-input {
    width: 50px;
}

.remove-padding {
    padding: 0 !important;
}

header {
    background: #fff url(bg-marketing-banner.jpg);
    height: 86px;
    width: 100%;
    color: white;
}

footer {
    margin-top: 50px;
    padding: 8px;
    color: black;
    border-top: 1px solid #aaa;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.pageIcon {
    border: none;
    padding: 2px;
    /*cursor: pointer;*/
}

.sad {
    color: #aaa;
}

.pages-controls {
    background: #eee;
    display: block;
    width: 100%;
    text-align: left;
    padding: 4px;
}

.pages-container {
    padding: 4px;
}

.chapter-header {
    padding: 4px;
}

.chapters .panel {
    height: 100%;
}